############################################################################################################################################################
#monit chechking

# set httpd port 2812 and
#    allow localhost
#    allow admin:monit
#    allow 0.0.0.0/0

 check process qat_tomcat-service with pidfile /opt/tomcat/temp/tomcat.pid
    start program = "/bin/sh -c 'systemctl start tomcat'"
    stop program  = "/bin/sh -c 'systemctl stop tomcat'"
    if failed (url http://192.168.11.241 and content != "502") then restart
    if failed (url http://192.168.11.241 and content != "503") then restart
    if failed host 192.168.11.241 port 8080 protocol http then restart

 check process qat_http-service with pidfile /var/run/httpd/httpd.pid
    start program = "/bin/sh -c 'systemctl start httpd'"
    stop program  = "/bin/sh -c 'systemctl stop httpd'"
    if failed host 192.168.11.241 port 80 protocol http then restart

